# Ignorar archivos de compilación
target/
*.jar
*.war
*.class

# Archivos de configuración del IDE
.idea/
.vscode/
*.iml

# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración específica de Maven
.mvn/